# IDE
.buildpath
.project
.settings
.idea
.vscode


# Node.js
node_modules

# Frontend static files
/static/*

# Js files
/js/manifest.json

# Keep folders that are needed
!.gitkeep

# macOS
.DS_Store

/build/phpunit/.phpunit.result.cache
.phpunit.result.cache
/bin/dataMongoDb/
/bin/mongoDbData.tar.gz
xdebug_profiles

